<div class="container" style="padding-top: 64px">
<p id="notice"><%= notice %></p>

<h1>Institutions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= institution.website %></td>
        <td><%= institution.city %></td>
        <td><%= institution.state %></td>
        <td><%= link_to 'Show', institution %></td>
        <td><%= link_to 'Edit', edit_institution_path(institution) %></td>
        <td><%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institution', new_institution_path %>
</div>