<%= form_with(model: competition, local: true) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :edition %>
    <%= form.text_field :edition %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.select :level, options_for_select([
                ["Médio", "M"],
                ["Superior", "S"]
              ], "email") %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="field">
    <%= form.label :registration_start %>
    <%= form.datetime_select :registration_start %>
  </div>

  <div class="field">
    <%= form.label :registration_end %>
    <%= form.datetime_select :registration_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
