<div class="container" style="padding-top: 64px">
<p id="notice"><%= notice %></p>

<h1>Competitions</h1>

<table class="table">
  <thead>
    <tr>
      <th>Edition</th>
      <th>Level</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Registration start</th>
      <th>Registration end</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.edition %></td>
        <td><%= competition.level %></td>
        <td><%= competition.date %></td>
        <td><%= competition.duration %></td>
        <td><%= competition.registration_start %></td>
        <td><%= competition.registration_end %></td>
        <td><%= link_to 'Show', competition %></td>
        <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
        <td><%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Homologar Times', competition_homologations_path(competition) %></td>
        <td><%= link_to 'Checkin', competition_checkin_index_path(competition) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition', new_competition_path %>
</div>