<div class="container" style="padding-top: 64px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Edition:</strong>
  <%= @competition.edition %>
</p>

<p>
  <strong>Level:</strong>
  <%= @competition.level %>
</p>

<p>
  <strong>Date:</strong>
  <%= @competition.date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @competition.duration %>
</p>

<p>
  <strong>Registration start:</strong>
  <%= @competition.registration_start %>
</p>

<p>
  <strong>Registration end:</strong>
  <%= @competition.registration_end %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
</div>