<%= form_for([@registration.competition, @registration]) do |form| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% flash.each do |name, msg| -%>
  


   <div id="error_explanation">
      <h2> prohibited this registration from being saved:</h2>

      <ul>
        <li><%= msg %></li>
      </ul>
    </div>
    <% end -%>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">

    <table>
    <tr>
      <th>Nome</th>
      <td></td>
    </tr>  
    <% current_delegate.institution.competitors.each do |competitor| %>
    <%if !@competitors.include?(competitor.id) or @registration.participations.find_by(competitor_id: competitor.id) %>
      <tr>
        <td><%= competitor.name %></td>
        <td><%= check_box_tag 'competitors_ids[]', competitor.id, (checked = true if @registration.participations.find_by(competitor_id: competitor.id)) %></td>
      </tr>
    <% end %>
    <% end %>
    </table>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>