<div class="container" style="padding-top: 64px">
<h1>Editing Registration</h1>

<%= render 'form' %>

<%= link_to 'Back', competition_registration_path(@registration.competition, @registration) %>
</div>