<div class="container" style="padding-top: 64px">

<p id="notice"><%= notice %></p>

<h1>Equipes - POP - <%= @competition.edition %>ª <%= t "edition" %> - <%= @competition.level %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Data</th>
      <th>Homologada</th>
      <th>Delegate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.time %></td>
        <td><%= registration.data %></td>
        <td><%= registration.homologada %></td>
        <td><%= registration.delegate.name %></td>
        <td><%= link_to 'Show', competition_registration_path(@competition, registration) %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_competition_registration_path(@competition) %>

</div>