<div class="container" style="padding-top: 64px">
<p id="notice"><%= notice %></p>

<h2> Equipe - <%= @registration.time %></h2>


<p>
  <strong>Data:</strong>
  <%= @registration.data %>
</p>

<p>
  <strong>Homologada:</strong>
  <%= @registration.homologada %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @registration.competition.edition %>
</p>

<p>
  <strong>Delegate:</strong>
  <%= @registration.delegate.name %>
</p>

  <div class="field">

    <table>
    <tr>
      <th>Membros</th>
    </tr>  
    <% @registration.participations.each do |p| %>
    <tr>
      <td><%= p.competitor.name %></td>
    </tr>
    <% end %>
    </table>

<%= link_to 'Edit', edit_competition_registration_path(@registration.competition, @registration) %> |
<%= link_to 'Back', competition_registrations_path %>
</div>