<div class="container" style="padding-top: 64px" >

<h2>Minhas competições</h2>
	<table class="table">
		<tr>
			<th>
				Edição
			</th>
			<th>Time</th>
			<th></th>
		</tr>

		<% current_competitor.participations.each do |p| %>
			<tr>
				<td><%= p.registration.competition.edition %></td>
				<td><%= p.registration.time %></td>
				<td>
					<% if !p.presenca.nil? %>
						<%= link_to 'Emitir certificado', competition_certificates_path(p.registration.competition.id) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>