<div class="container" style="padding-top: 64px" align="center">
<h2>Competições</h2>
	<table class="table">
		  <thead>
		<tr>
			<th>
				Edição
			</th>
			<th>
				Nível
			</th>
			<th>
				Inicio das incrições
			</th>
			<th>
				Fim das incrições
			</th>
		</tr>
		 </thead>

		<% @competitions.each do |competition| %>
			<tr>
				<td><%= competition.edition %></td>
				<td><%= competition.level %></td>
				<td><%= competition.registration_start %></td>
				<td><%= competition.registration_end %></td>
				<td><%= link_to 'Inscrições', competition_registrations_path(competition.id) %></td>
			</tr>
		<% end %>
	</table>
</div>