<% if admin_signed_in? %>
	<%= render partial: 'admin' %>
<% elsif competitor_signed_in? %>
	<%= render partial: 'competitor' %>
<% elsif delegate_signed_in? %>
	<%= render partial: 'delegate' %>
<% else %>
	<div class="jumbotron" align="center">
	  <h1 class="display-4">PROJETO OLÍMPICO DE PROGRAMAÇÃO</h1>
	  <p class="lead">Programar é uma arte e competir é muito divertido!</p>
	</div>
<% end %>