<div class="container" style="padding-top: 64px" align="center">


		<h2>Entrar</h2>
		<h3>Para entrar escolha qual o seu perfil!</h3>
  <div class="row">
    <div class="col">
    	
 	<%= link_to image_tag("http://4.bp.blogspot.com/_qXAVYQgQzzk/SQu1mR4tiGI/AAAAAAAAARI/jNuRfWMH2Kk/s400/nerd+no+PC+4.jpg", :class => 'rounded-circle', width: 150, height: 150), new_competitor_session_path %>
 	<h4>Competidor</h4>
    </div>
    <div class="col">
    	
     <%= link_to image_tag("https://ssl8972.websiteseguro.com/curtiram/images/fotos/mh_interna_melhores-filmes-chuck-norris%20(17).jpg", :class => 'rounded-circle', width: 150, height: 150), new_delegate_session_path %>    
     <h4>Delegado</h4>
    </div>
  </div>

</div>
