<div class = "nested-fields">
	<div class = "field">

		<!-- TODO -->

		<%= f.label :tipo %>
		<%= f.select :tipo, options_for_select([
								["e-mail", "email"],
								["Telefone", "telefone"]
							], "email") %>

		<%= f.label :valor %>
		<%= f.text_field :value %>

		<%= link_to_remove_association('[Remover]', f) %>
	</div>
</div>