<div class="container" style="padding-top: 64px" align="center">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

    <div class="field">
    <%= f.collection_select :institution_id, Institution.all, :id, :name %>
  </div>

      <div class="field">
    <%= f.label :matricula %><br />
    <%= f.text_field :matricula, autofocus: true%>
  </div>

  <div class="field">
    <%= f.check_box :publico, {}, true, false %>Perfil público
  </div>

  <%= f.label :contatos %><br />
  <div id = "contacts">

    <%= f.fields_for :contacts do |contacts_fields| %>
      <%= render partial: "contact_fields", locals: {f: contacts_fields} %>
    <% end %>

    <%= link_to_add_association('[ Adicionar Contato ]', f, :contacts) %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "competitors/shared/links" %>

</div>