<style>
body {
	background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/47/51/665858c95c31b60.jpg');
	    background-repeat: no-repeat, repeat;
}
</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= current_competitor.name %></h1>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Participou da <%= @competition.edition %>ª edição do POP</p> 