<div class="container" style="padding-top: 64px">
<h1>Homologations</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Participantes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

   <tbody>
    <% @competition.registrations.each do |registration| %>
      <tr>
      	<td><%= registration.time %></td>
      	<td>
			<% registration.participations.each do |participant| %>
				<%= participant.competitor.name %>;
			<%end %>
  		</td>
  		<% if registration.homologada.nil? %>
  			<td><%= link_to 'Deferir', competition_registration_homologations_path(@competition, registration, status: 'd'),  method: :post  %></td>
  			<td><%= link_to 'Indeferir', competition_registration_homologations_path(@competition, registration, status: 'i'), method: :post  %></td>
  		<% else %>
  			<td colspan="2"><%= if registration.homologada == 'd' then 'Deferido' else 'Indeferido' end %> </td>
  		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>