<div class="container" style="padding-top: 64px">
<h1></h1>

<h1>Checkin - POP - <%= @competition.edition %>ª Edição - <%= @competition.level %></h1>

<table class="table">
	<tr>
		<td>Nome</td>
		<td>Status</td>
	</tr>
<% @competition.registrations.each do |r| %>

	<% r.participations.each do |p| %>
		
		<tr>
			<td><%= p.competitor.name %></td>
				<td>
					<% if p.presenca.nil? %>
					<%= link_to 'Marcar presença', competition_participation_checkin_index_path(@competition, p, status: 'd'),  method: :post  %>
						<% else %>
						Presente
						<% end %>
					</td>
		</tr>
		
	<% end %>
<% end %>
</table>
</div>