


<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #00BFA5;">
  <a class="navbar-brand" href="/">Maratona POP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
   <li class="nav-item">
        <%= link_to 'Banco de talentos', site_talents_path, class: "nav-link" %>
      </li>

      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to "Competição", competitions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Intituição", institutions_path, class: "nav-link" %>
        </li>
      <% elsif competitor_signed_in? %>
      <% elsif delegate_signed_in? %>
       <% else %>
        <li class="nav-item">
            <%= link_to 'Entrar', site_login_path, class: "nav-link" %>
        </li>
      <% end %>



    </ul>

    <div class="navbar-text pull-right">

            <% if admin_signed_in? %>
            Olá <strong>Admin</strong>.
             <%= link_to 'Atualizar perfil', edit_admin_registration_path, :class => 'navbar-link' %> |
        <%= link_to 'Sair', destroy_admin_session_path, method: 'delete', class: 'navbar-link' %>
      <% elsif competitor_signed_in? %>
      Olá <strong><%= current_competitor.name %></strong>.
       <%= link_to 'Atualizar perfil', edit_competitor_registration_path, :class => 'navbar-link' %> |
     <%= link_to 'Sair', destroy_competitor_session_path, method: 'delete', class: 'navbar-link' %>
      <% elsif delegate_signed_in? %>
      Olá <strong><%= current_delegate.name %></strong>.
       <%= link_to 'Atualizar perfil', edit_delegate_registration_path, :class => 'navbar-link' %>|
      <%= link_to 'Sair', destroy_delegate_session_path, method: 'delete', class: 'navbar-link' %>
     
      <% end %>

    </div>
  </div>
</nav>